<ul>
    <li><a href="{{ path('index') }}">Home</a></li>
    {% if app.session.get('user') %}
    <li>{{ app.session.get('user').getLogin() }}, <a href="{{ path('logout') }}">Logout</a></li>
    {% else %}
    <li><a href="{{ path('login') }}">Login</a></li>
    <li><a href="{{ path('register') }}">Register</a></li>
    {% endif %}
</ul>