{% extends 'base.html.twig' %}

{% block title %}log in{% endblock %}
{% block pageTitle %}<h1>log in</h1>{% endblock %}

{% block body %}

    {% if error %}<p>{{ error }}</p>{% endif %}

    {{ form(form) }}
{% endblock %}